body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size:36px ;
    color: rgb(97, 97, 97);
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    
}
.half-width{
    width:50% ;
    padding-left: 5%;
}
.half-width img{
    width: 65%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;
}
.top-banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
}
.about-me{
    background-image: url(images/shapes/7.png);
   margin: 0px;
}
.about-me h2{
    color: rgb(97, 97, 97);
}
.pagol h2{
    color: rgb(97, 97, 97);
    text-align: center;
}
.pagol h3{
    text-align:center;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(54, 53, 53);
}
.chagol img{
 width: 40%;
 padding-left: 10px;
}
.chagol img{
    display: flex;
   padding-left: 10px;
}
.item{
    box-shadow: 10px 10px 5px gray;
    width:50%;
    margin-left: 5%;
    margin-right: 5%;
}
footer h2{
    text-align: center;
    color: orange;
}
footer h3{
    text-align: center;
    color: white;
}
footer{
    background-color: rgb(44, 43, 43);
}